In [1]:
import pandas as pd

data_df = pd.read_csv('data.csv', parse_dates=['time'])
print(data_df.shape)
data_df.head()

(393886, 28)

,time,wind_speed,generator_speed,power,wind_direction,wind_direction_mean,yaw_position,yaw_speed,pitch1_angle,pitch2_angle,...,acc_y,environment_tmp,int_tmp,pitch1_ng5_tmp,pitch2_ng5_tmp,pitch3_ng5_tmp,pitch1_ng5_DC,pitch2_ng5_DC,pitch3_ng5_DC,group
0,2015-11-01 20:20:16,1.859993,1.223595,2.515790,-2.072739,-2.073627,-0.655343,0.030804,0.555556,0.506667,...,0.061109,-0.403919,0.014918,1.307692,1.123077,0.783077,1.36,0.00,1.56,1
1,2015-11-01 20:20:23,1.911625,1.293394,2.313551,-2.010591,-1.615140,-0.655343,0.030804,0.195556,0.133333,...,-1.209522,-0.421277,-0.002291,1.307692,1.123077,0.783077,0.44,2.88,-2.60,1
2,2015-11-01 20:20:30,1.635027,1.280099,2.507799,-2.053750,-0.282742,-0.649566,0.170338,0.964444,0.951111,...,0.061109,-0.421277,-0.002291,1.307692,1.123077,0.783077,1.76,0.60,2.56,1
3,2015-11-01 20:20:37,1.786234,1.280099,2.349593,-2.007138,-2.234477,-0.655343,-0.004080,0.168889,0.137778,...,0.061109,-0.403919,-0.002291,1.307692,1.123077,0.783077,2.80,-0.48,0.12,1
4,2015-11-01 20:20:47,1.786234,1.263480,2.321566,-2.264365,-1.428959,-0.637917,0.414524,0.182222,0.168889,...,-1.209522,-0.403919,0.014918,1.307692,1.123077,0.783077,-0.88,1.72,0.92,1

In [2]:
import pickle

with open('data_df.pickle', 'wb') as file:
    pickle.dump(data_df, file)

In [3]:
import pickle

with open('data_df.pickle', 'rb') as file:
    data_df = pickle.load(file)

In [4]:
import time 

startTime = time.time()
data_df = pd.read_csv('data.csv', parse_dates=['time'])
readcsv_time = time.time() - startTime
print('readcsv time: %.2f seconds' %readcsv_time)

startTime2 = time.time()
with open('data_df.pickle', 'rb') as file:
    data_df = pickle.load(file)
pickleLoad_time = time.time() - startTime2
print('pickleLoad time: %.2f seconds' %pickleLoad_time)

print('pickleLoad_time / readcs_time = %.3f' %(pickleLoad_time/readcsv_time))

readcsv time: 8.42 seconds
pickleLoad time: 0.08 seconds
pickleLoad_time / readcs_time = 0.009

In [5]:
data_df.shape

(393886, 28)

In [6]:
data_df.head()

,time,wind_speed,generator_speed,power,wind_direction,wind_direction_mean,yaw_position,yaw_speed,pitch1_angle,pitch2_angle,...,acc_y,environment_tmp,int_tmp,pitch1_ng5_tmp,pitch2_ng5_tmp,pitch3_ng5_tmp,pitch1_ng5_DC,pitch2_ng5_DC,pitch3_ng5_DC,group
0,2015-11-01 20:20:16,1.859993,1.223595,2.515790,-2.072739,-2.073627,-0.655343,0.030804,0.555556,0.506667,...,0.061109,-0.403919,0.014918,1.307692,1.123077,0.783077,1.36,0.00,1.56,1
1,2015-11-01 20:20:23,1.911625,1.293394,2.313551,-2.010591,-1.615140,-0.655343,0.030804,0.195556,0.133333,...,-1.209522,-0.421277,-0.002291,1.307692,1.123077,0.783077,0.44,2.88,-2.60,1
2,2015-11-01 20:20:30,1.635027,1.280099,2.507799,-2.053750,-0.282742,-0.649566,0.170338,0.964444,0.951111,...,0.061109,-0.421277,-0.002291,1.307692,1.123077,0.783077,1.76,0.60,2.56,1
3,2015-11-01 20:20:37,1.786234,1.280099,2.349593,-2.007138,-2.234477,-0.655343,-0.004080,0.168889,0.137778,...,0.061109,-0.403919,-0.002291,1.307692,1.123077,0.783077,2.80,-0.48,0.12,1
4,2015-11-01 20:20:47,1.786234,1.263480,2.321566,-2.264365,-1.428959,-0.637917,0.414524,0.182222,0.168889,...,-1.209522,-0.403919,0.014918,1.307692,1.123077,0.783077,-0.88,1.72,0.92,1

In [7]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393886 entries, 0 to 393885
Data columns (total 28 columns):
time                   393886 non-null datetime64[ns]
wind_speed             393886 non-null float64
generator_speed        393886 non-null float64
power                  393886 non-null float64
wind_direction         393886 non-null float64
wind_direction_mean    393886 non-null float64
yaw_position           393886 non-null float64
yaw_speed              393886 non-null float64
pitch1_angle           393886 non-null float64
pitch2_angle           393886 non-null float64
pitch3_angle           393886 non-null float64
pitch1_speed           393886 non-null float64
pitch2_speed           393886 non-null float64
pitch3_speed           393886 non-null float64
pitch1_moto_tmp        393886 non-null float64
pitch2_moto_tmp        393886 non-null float64
pitch3_moto_tmp        393886 non-null float64
acc_x                  393886 non-null float64
acc_y                  393886 non-null float64
environment_tmp        393886 non-null float64
int_tmp                393886 non-null float64
pitch1_ng5_tmp         393886 non-null float64
pitch2_ng5_tmp         393886 non-null float64
pitch3_ng5_tmp         393886 non-null float64
pitch1_ng5_DC          393886 non-null float64
pitch2_ng5_DC          393886 non-null float64
pitch3_ng5_DC          393886 non-null float64
group                  393886 non-null int64
dtypes: datetime64[ns](1), float64(26), int64(1)
memory usage: 84.1 MB

In [8]:
import pandas as pd

normalTime_df = pd.read_csv('normal.csv', parse_dates=['startTime', 'endTime'])
print(normalTime_df.shape)
normalTime_df.head()

(26, 2)

            startTime             endTime
0 2015-11-01 20:20:16 2015-11-03 23:47:32
1 2015-11-04 14:04:51 2015-11-04 18:26:08
2 2015-11-05 11:06:59 2015-11-09 02:44:31
3 2015-11-09 12:30:09 2015-11-09 19:23:32
4 2015-11-10 00:04:50 2015-11-15 23:03:06

In [9]:
import pandas as pd

failureTime_df = pd.read_csv('failure.csv', parse_dates=['startTime', 'endTime'])
print(failureTime_df.shape)
failureTime_df.head()

(29, 2)

            startTime             endTime
0 2015-11-04 21:37:06 2015-11-04 22:29:33
1 2015-11-09 04:43:09 2015-11-09 06:35:39
2 2015-11-09 21:21:52 2015-11-09 23:14:41
3 2015-11-16 03:51:54 2015-11-16 11:06:26
4 2015-11-16 14:15:53 2015-11-16 16:08:25

In [10]:
import pandas as pd

normal_list = []
for index in normalTime_df.index:
    startTime = normalTime_df.loc[index].startTime
    endTime = normalTime_df.loc[index].endTime
    part_df = data_df[data_df.time.between(startTime, endTime)]
    print(part_df.shape)
    normal_list.append(part_df)
normal_df = pd.concat(normal_list).reset_index(drop=True)
normal_df.shape

(4756, 28)
(971, 28)
(43020, 28)
(3383, 28)
(39486, 28)
(35032, 28)
(14016, 28)
(2120, 28)
(29550, 28)
(1321, 28)
(3212, 28)
(13254, 28)
(6513, 28)
(681, 28)
(12049, 28)
(2967, 28)
(19126, 28)
(561, 28)
(132, 28)
(2588, 28)
(15450, 28)
(18678, 28)
(5026, 28)
(20051, 28)
(8584, 28)
(47728, 28)

(350255, 28)

In [11]:
import pandas as pd

failure_list = []
for index in failureTime_df.index:
    startTime = failureTime_df.loc[index].startTime
    endTime = failureTime_df.loc[index].endTime
    part_df = data_df[data_df.time.between(startTime, endTime)]
    print(part_df.shape)
    failure_list.append(part_df)
failure_df = pd.concat(failure_list).reset_index(drop=True)
failure_df.shape

(443, 28)
(265, 28)
(951, 28)
(1150, 28)
(951, 28)
(106, 28)
(352, 28)
(951, 28)
(951, 28)
(1286, 28)
(951, 28)
(1254, 28)
(148, 28)
(951, 28)
(616, 28)
(951, 28)
(951, 28)
(797, 28)
(951, 28)
(951, 28)
(1244, 28)
(909, 28)
(546, 28)
(951, 28)
(592, 28)
(870, 28)
(951, 28)
(951, 28)
(951, 28)

(23892, 28)

In [12]:
stat_df = pd.DataFrame({
    'number' : [normal_df.shape[0], failure_df.shape[0], data_df.shape[0]-normal_df.shape[0]-failure_df.shape[0]]
}, index = ['normal', 'failure', 'invalid'])
stat_df['ratio'] = stat_df['number'] / stat_df['number'].sum()
stat_df

         number     ratio
normal   350255  0.889229
failure   23892  0.060657
invalid   19739  0.050113

In [13]:
import random

normalPart_df = normal_df.loc[random.sample(list(normal_df.index), k=failure_df.shape[0]*2)]
normalPart_df.shape

(47784, 28)

In [14]:
import numpy as np

feature_df = pd.concat([normalPart_df, failure_df]).reset_index(drop=True)
X = feature_df.drop('time', axis=1).values
print(X.shape)
y = np.append(np.ones(len(normalPart_df)), np.zeros(len(failure_df)))
print(y.shape)

(71676, 27)
(71676,)

In [15]:
import pickle

with open('X.pickle', 'wb') as file:
    pickle.dump(X, file)

with open('y.pickle', 'wb') as file:
    pickle.dump(y, file)

In [16]:
import pickle

with open('X.pickle', 'rb') as file:
    X = pickle.load(file)
    
with open('y.pickle', 'rb') as file:
    y = pickle.load(file)

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

rfc_model = RandomForestClassifier(n_jobs=-1)
cv_split = ShuffleSplit(n_splits=5)
score_ndarray = cross_val_score(rfc_model, X, y, cv=cv_split)
print(score_ndarray.round(4))
print(score_ndarray.mean().round(4))

C:\Programs\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Programs\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Programs\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Programs\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Programs\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

[1.     0.9997 0.9999 1.     0.9999]
0.9999

In [18]:
from xgboost import XGBClassifier
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
import warnings

warnings.filterwarnings('ignore')
xgb_model = XGBClassifier(nthread=8)
cv_split = ShuffleSplit(n_splits=5)
score_ndarray = cross_val_score(xgb_model, X, y, cv=cv_split)
print(score_ndarray.round(4))
print(score_ndarray.mean().round(4))

[0.9775 0.9828 0.9802 0.9792 0.9795]
0.9799

In [19]:
score_ndarray.mean().round(4)

0.9799

In [20]:
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier

train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.2)
xgb_model = XGBClassifier(thread=8)
xgb_model.fit(train_X, train_y)
xgb_model.score(test_X, test_y).round(4)

0.9826

In [21]:
from sklearn.metrics import confusion_matrix

predict_y = xgb_model.predict(test_X)
labels = ['故障', '正常']
pd.DataFrame(confusion_matrix(test_y, predict_y), columns=labels, index=labels)

      故障    正常
故障  4732    83
正常   167  9354

In [22]:
from sklearn.metrics import precision_recall_fscore_support
import numpy as np

def eval_model(y_true, y_pred, labels):
    # 计算每个分类的Precision, Recall, f1, support
    p, r, f1, s = precision_recall_fscore_support(y_true, y_pred)
    # 计算总体的平均Precision, Recall, f1, support
    tot_p = np.average(p, weights=s)
    tot_r = np.average(r, weights=s)
    tot_f1 = np.average(f1, weights=s)
    tot_s = np.sum(s)
    res1 = pd.DataFrame({
        u'Label': labels,
        u'Precision': p,
        u'Recall': r,
        u'F1': f1,
        u'Support': s
    })
    res2 = pd.DataFrame({
        u'Label': ['总体'],
        u'Precision': [tot_p],
        u'Recall': [tot_r],
        u'F1': [tot_f1],
        u'Support': [tot_s]
    })
    res2.index = [999]
    res = pd.concat([res1, res2])
    return res[['Label', 'Precision', 'Recall', 'F1', 'Support']]

eval_model(test_y, predict_y, labels)

    Label  Precision    Recall        F1  Support
0      故障   0.965911  0.982762  0.974264     4815
1      正常   0.991205  0.982460  0.986813     9521
999    总体   0.982710  0.982561  0.982598    14336

In [23]:
from sklearn.metrics import roc_curve

predict_y_probability = xgb_model.predict_proba(X)
false_predict, true_predict, thresholds = roc_curve(y, predict_y_probability[:,1])

import matplotlib.pyplot as plt 

plt.plot([0,1], [0,1], 'k--')
plt.plot(false_predict, true_predict, label='xgboost')
plt.legend()
plt.title('ROC curve')
plt.xlabel('False positive rate')
plt.ylabel('True positive rate')
plt.show()

In [24]:
import pickle

with open('xgb_model.pickle', 'wb') as file:
    pickle.dump(xgb_model, file)

In [25]:
import pickle

with open('xgb_model.pickle', 'rb') as file:
    xgb_model = pickle.load(file)

In [26]:
test_df = pd.read_csv('data_test.csv', index_col=0)
exam_y = test_df['clf'].values
exam_X = test_df.drop(['time', 'clf'], axis=1).values
exam_X = exam_X[exam_y<2]
print(exam_X.shape)
exam_y = exam_y[exam_y<2]
print(exam_y.shape)

(179567, 27)
(179567,)

In [27]:
test_df['clf'].value_counts()

1    168929
2     10927
0     10638
Name: clf, dtype: int64

In [28]:
from sklearn.metrics import precision_recall_fscore_support
import numpy as np

def eval_model(y_true, y_pred, labels):
    # 计算每个分类的Precision, Recall, f1, support
    p, r, f1, s = precision_recall_fscore_support(y_true, y_pred)
    # 计算总体的平均Precision, Recall, f1, support
    tot_p = np.average(p, weights=s)
    tot_r = np.average(r, weights=s)
    tot_f1 = np.average(f1, weights=s)
    tot_s = np.sum(s)
    res1 = pd.DataFrame({
        u'Label': labels,
        u'Precision': p,
        u'Recall': r,
        u'F1': f1,
        u'Support': s
    })
    res2 = pd.DataFrame({
        u'Label': ['总体'],
        u'Precision': [tot_p],
        u'Recall': [tot_r],
        u'F1': [tot_f1],
        u'Support': [tot_s]
    })
    res2.index = [999]
    res = pd.concat([res1, res2])
    return res[['Label', 'Precision', 'Recall', 'F1', 'Support']]

predict_exam_y = xgb_model.predict(exam_X)
labels = ['故障', '正常']
eval_model(exam_y, predict_exam_y, labels)

    Label  Precision    Recall        F1  Support
0      故障   0.409938  0.260575  0.318621    10638
1      正常   0.954480  0.976381  0.965306   168929
999    总体   0.922220  0.933975  0.926995   179567